/* >>>>>>>>>>>>>>> */
@media screen and (max-width:1536px){
    .feedback-item::after{
        content: "";
        background-color: #ff305b;
        position: absolute;
        top:-40px;
        left: -150px;
        bottom: 230px;
        right:280px;
        z-index: 0.5;
        transform: rotate(135deg);
    }
    .blog-item{
        width: 30%;
    }
    iframe{
        height: 140px
    }
}
/* >>>>>>>>>>>>>>>> */
@media screen and (max-width:1280px){
    .navbar-content ul li{
        margin-inline: 5px;
    }
    .navbar-content ul li a{
        font-size: 16px;
    }
    .about-content{
        align-items: flex-start;
    }
    .about-desc p{
        padding-bottom: 10px;
        font-size: 14px;
    }
    .portfolio-list{
        width: 60%;
    }
    .about-desc .about-list li{
        padding-bottom: 10px;
    }
    .about-desc .btn{
        padding: 10px 10px;
    }
    .services-content-item p{
        width: 100%;
        text-align: center;
    }
    .portfolio-content .portfolio-item{
        width: 25%;
    }
    .feedback-item::after{
        content: "";
        background-color: #ff305b;
        position: absolute;
        top:-40px;
        left: -150px;
        bottom: 230px;
        right:280px;
        z-index: 0.5;
        transform: rotate(135deg);
    }
    .blog-item{
        width: 30%;
    }
    iframe{
        height: 118px
    }
   
}

/* >>>> */
@media screen and (max-width:1024px) {
    .navbar-content .logo{
            width: 25%;
    }
    .navbar-content .logo a{
        margin-left: 0px;
    }
    .navbar-content ul.navbar-list{
        width: 75%;
        padding-left: 0px;
        margin-block: 0px;
        margin-top: 10px;
    }
    .navbar-content .navbar-list li{
        margin-inline: 5px;
    }
    .navbar-content .navbar-list li a {
        font-size: 18px;
    }
    .home-content{
        padding-top: 200px;
    }
    .home-content span{
        margin-block: 35px;
    }
    .about-content{
        align-items: flex-start;
        padding: 0px;
    }
    .about-person{
        width: 50%;
    }
    .about-desc{
        margin-left: 40px;
        font-size: 16px;
    }

    .services h2::before,.portfolio h2::before,.blog h2::before {
        left: 42%; 
    }
    .services h2::after,.portfolio h2::after,.blog h2::after,.contact h2::after{
        left: 46%;
        
    }
    .services-content{
        flex-wrap: wrap;
        gap: 10px;
    }
    .services-content-item{
        width: 49%;
    }
    .portfolio-content{
        justify-content: center;
    }
    .portfolio-content .portfolio-item{
        width: 25%;
    }
    .feedback-content h2::before{
        left: 36%;
    }

    .feedback-content h2::after{
        left: 45%;
    }
    .feedback-item{
        width: 100%;
    }
    .feedback-item::after{
        top:0px;
        left: -160px;
        bottom: 150px;
        right:430px;
    }
    .portfolio-list{
        width: 80%;
    }
    .blog iframe{
        height: 116px;
    }
    .blog-item{
        width: 33.33%;
    }
    .blog-item-img img{
        display: block;
    }
    .blog-item-content{
        font-size: 16px;
    }
    .blog .blog-item-content a:nth-child(2) {
        font-size: 20px;
    }
    .contact h2::before{
        left: 41%;
    }
    .contact-form{
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
/* >>>>>>>>>>>>>>>> */
@media screen and (max-width:992px) {
    .navbar-content .logo{
        width: 20%;
    }
    .navbar-content .logo a{
    margin-left: 0px;
    }
    .navbar-content ul.navbar-list{
    width: 80%;
    padding-left: 0px;
    margin-block: 0px;
    margin-top: 10px;
    }
    .navbar-content .navbar-list li{
        margin-inline: 3px;
    }
    .navbar-content .navbar-list li a {
    font-size: 16px;
    }
    .about-desc .btn{
        padding-inline: 10px;
        font-size: 12px;
    }
    .portfolio-list{
        width: 80%;
    }
    .feedback-item::after{
        top:-80px;
        left: -180px;
        bottom: 230px;
        right:220px;
    }
    .blog iframe{
        height: 110px;
    }
    .blog-item span{
        font-size: 12px;
    }
    .blog-item p{
        font-size: 14px;
    }
    .blog-item a:nth-child(2){
        font-size: 14px;
    }
    .blog-item a:nth-child(4){
        font-size: 12px;
    }
   
    .services h2::before,.portfolio h2::before,.blog h2::before {
        left: 38%; 
    }
    .services h2::after,.portfolio h2::after,.blog h2::after,.contact h2::after{
        left: 44%;
        
    }
     .contact-form{
        width: 100%;
        margin: auto;
    }
    .contact h2::before{
        left: 37%;
    }
    .footer-list i{
        margin-inline: 5px;
    }
    .footer-copyright{
        font-size: 12px;
    }
}
/* >>>>>>>>>>>>>> */
@media screen and (max-width:769px) {
    .navbar-content .navbar-list{
        display: none;
    }
    .about-content{
        margin: 0;
    }
    .about-content .about-desc h2{
        font-size: 20px;
    }
    .about-desc h2::after{
        height: 20px;
    }
    .about-content .about-desc p{
        font-size: 14px;
    }
    .about-content .about-desc ul{
        font-size: 14px;
    }
    .about-content .about-desc .btn{
        padding: 10px 10px;
        font-size: 12px;
    }
    .services-content{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .services-content-item{
        width: 48%;
    }
    .portfolio-content .portfolio-item{
        width: 40%;
    }
    .portfolio-list{
        width: 80%;
    }
    .feedback-item p{
        font-size: 12px;
    }
    .feedback-item::after{
        top:-60px;
        left: -180px;
        bottom: 230px;
        right:150px;
    }
    .blog-content{
        display: block;
    }
    .blog-item{
        width: 100%;
        margin-top: 15px;
    }
    .blog-item iframe{
        width: 100%;
        height: auto;
    }
    .contact-form{
        width: 100%;
        margin: auto;
    }
    .contact-form .btn{
        padding: 15px 40px;
        font-size: 14px;
    }

    .footer-list i{
        margin-inline: 5px;
    }
    .footer-copyright{
        font-size: 16px;
    }
}
/* >>>>>>>>>>>>>>>> */
@media screen and (max-width:576px){
    .about-content{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-inline: auto;
    }
    .about-person{
        width: 100%;
        margin-bottom: 20px;
        margin-inline: auto;
    }
    .about-person img{
        width: 100%;
    }
    .about-desc{
        margin-inline: 1.25rem;
        width: 80%;
    }
    .about-content .about-desc .btn{
        padding: 10px 20px;
        font-size: 10px;
    }
    .services .container{
        width: 90%;
    }
    .services h2::before{
    left: 30%;
    
}
    .services h2::after{
        content: "";
        width:80px;
        height: 10px;
        border-bottom: 1px solid #ff305b;
        border-top: 1px solid #ff305b;
        background-color: transparent;
        position: absolute;
        bottom: 0%;
        left: 40%;
        right: 0;
        top: 120%;
    }
        .services-content{
        width: 100%;
        margin: 60px auto;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        gap: 0px;
    }
    .portfolio-content .portfolio-item{
        width: 90%;
        margin: 20px auto;
    }
    .portfolio-footer-content{
        width: 100%;
        gap: 5px;
    }
    .portfolio-footer-item p{
        font-size: 12px;
    }
    .feedback-content{
        width: 90%;
        margin: auto;
    }
    .feedback-content h2{
        font-size: 32px;
    }
    .feedback-item{
        width: 100%;
        padding: 10px 0 40px 130px;
    }
    .feedback-item::after{
        right: 90px;
    }
    .feedback-item img{
        width: 25%;
    }
    .contact-form .btn{
        margin-inline: auto;
    }
    .contact-form{
        width: 100%;
    }
    .portfolio h2::before{
    left: 30%;
}
    .feedback-content h2::before{
    left: 30%;
}
    .feedback-content h2::after{
    top: 115%;
}
    .contact h2::before{
    left: 30%;
    }

    .blog h2::before{
    left: 30%;
}
}